:root {
    --primary-text-color: rgba(16, 9, 9, 0.8);
    --title-text-color: #000000;
    --accent-color: orange;
    --primary-white-color: #ffffff;
}
body {
font-family: "Roboto";
}

.header {
}
.header-navigation {
}
.header-logo {
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 24px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;    
}
.header-list {
}
.header-item {
}
.header-link {
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;
}
.header-mail {
font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}
.header-tel {
font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}
.hero-btn {
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
}

.about {
font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
line-height: 40px;   
color: #2E2F42;
}